<div class="modal-header border-bottom-0">
    <h3 class="modal-title" ng-show="albumAction === 'add'">Add an Album</h3>
    <h3 class="modal-title" ng-show="albumAction === 'update'">Edit Album</h3>
    <button type="button" class="btn-close" ng-click="cancel()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form name="albumForm" role="form" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Album Title</label>
            <div class="input-group">
                <input type="text" class="form-control" id="title" name="title" required ng-model="album.title" 
                       ng-class="{'is-invalid': albumForm.title.$invalid && albumForm.title.$touched, 'is-valid': albumForm.title.$valid}">
                <span class="input-group-text" ng-class="{'text-danger': albumForm.title.$invalid && albumForm.title.$touched, 'text-success': albumForm.title.$valid}">
                    <i class="fas" ng-class="{'fa-exclamation-circle': albumForm.title.$invalid && albumForm.title.$touched, 'fa-check': albumForm.title.$valid}"></i>
                </span>
            </div>
        </div>

        <div class="mb-3">
            <label for="artist" class="form-label">Artist</label>
            <div class="input-group">
                <input type="text" class="form-control" id="artist" name="artist" required ng-model="album.artist"
                       ng-class="{'is-invalid': albumForm.artist.$invalid && albumForm.artist.$touched, 'is-valid': albumForm.artist.$valid}">
                <span class="input-group-text" ng-class="{'text-danger': albumForm.artist.$invalid && albumForm.artist.$touched, 'text-success': albumForm.artist.$valid}">
                    <i class="fas" ng-class="{'fa-exclamation-circle': albumForm.artist.$invalid && albumForm.artist.$touched, 'fa-check': albumForm.artist.$valid}"></i>
                </span>
            </div>
        </div>

        <div class="mb-3">
            <label for="releaseYear" class="form-label">Release Year</label>
            <div class="input-group">
                <input type="text" class="form-control" id="releaseYear" name="releaseYear" required ng-model="album.releaseYear" ng-pattern=yearPattern
                       ng-class="{'is-invalid': albumForm.releaseYear.$invalid && albumForm.releaseYear.$touched, 'is-valid': albumForm.releaseYear.$valid}">
                <span class="input-group-text" ng-class="{'text-danger': albumForm.releaseYear.$invalid && albumForm.releaseYear.$touched, 'text-success': albumForm.releaseYear.$valid}">
                    <i class="fas" ng-class="{'fa-exclamation-circle': albumForm.releaseYear.$invalid && albumForm.releaseYear.$touched, 'fa-check': albumForm.releaseYear.$valid}"></i>
                </span>
            </div>
        </div>

        <div class="mb-3">
            <label for="genre" class="form-label">Genre</label>
            <div class="input-group">
                <input type="text" class="form-control" id="genre" name="genre" required ng-model="album.genre"
                       ng-class="{'is-invalid': albumForm.genre.$invalid && albumForm.genre.$touched, 'is-valid': albumForm.genre.$valid}">
                <span class="input-group-text" ng-class="{'text-danger': albumForm.genre.$invalid && albumForm.genre.$touched, 'text-success': albumForm.genre.$valid}">
                    <i class="fas" ng-class="{'fa-exclamation-circle': albumForm.genre.$invalid && albumForm.genre.$touched, 'fa-check': albumForm.genre.$valid}"></i>
                </span>
            </div>
        </div>

        <div class="mb-3">
            <label for="userReview" class="form-label">User Review</label>
            <div class="input-group">
                <input type="text" class="form-control" id="userReview" name="userReview" required ng-model="album.userReview"
                       ng-class="{'is-invalid': albumForm.userReview.$invalid && albumForm.userReview.$touched, 'is-valid': albumForm.userReview.$valid}">
                <span class="input-group-text" ng-class="{'text-danger': albumForm.userReview.$invalid && albumForm.userReview.$touched, 'text-success': albumForm.userReview.$valid}">
                    <i class="fas" ng-class="{'fa-exclamation-circle': albumForm.userReview.$invalid && albumForm.userReview.$touched, 'fa-check': albumForm.userReview.$valid}"></i>
                </span>
            </div>
        </div>

        <div class="mb-3">
            <label for="userScore" class="form-label">User Score</label>
            <div class="input-group">
                <input type="text" class="form-control" id="userScore" name="userScore" required ng-model="album.userScore"
                       ng-class="{'is-invalid': albumForm.userScore.$invalid && albumForm.userScore.$touched, 'is-valid': albumForm.userScore.$valid}">
                <span class="input-group-text" ng-class="{'text-danger': albumForm.userScore.$invalid && albumForm.userScore.$touched, 'text-success': albumForm.userScore.$valid}">
                    <i class="fas" ng-class="{'fa-exclamation-circle': albumForm.userScore.$invalid && albumForm.userScore.$touched, 'fa-check': albumForm.userScore.$valid}"></i>
                </span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer border-top-0">
    <button class="btn btn-secondary" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-disabled="albumForm.$invalid" ng-click="ok()">Save Changes</button>
</div>
