<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" ng-repeat="album in albums | orderBy:sortField:sortDescending">
    <div class="card h-100 shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-start mb-3">
                <h5 class="card-title mb-0">
                    <in-place-edit field-name='title' input-type='text' input-class='form-control' model=album>{{album.title}}</in-place-edit>
                </h5>
                <div class="dropdown">
                    <button class="btn btn-link text-muted p-0" type="button" data-bs-toggle="dropdown" aria-label="Album options">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#" ng-click="updateAlbum(album)"><i class="fas fa-edit me-2"></i>Edit</a></li>
                        <li><a class="dropdown-item text-danger" href="#" ng-click="deleteAlbum(album)"><i class="fas fa-trash me-2"></i>Delete</a></li>
                    </ul>
                </div>
            </div>

            <h6 class="card-subtitle mb-2 text-muted">
                <in-place-edit field-name='artist' input-type='text' input-class='form-control' model=album>{{album.artist}}</in-place-edit>
            </h6>

            <div class="card-text">
                <div class="mb-2">
                    <small class="text-muted">Year:</small>
                    <in-place-edit field-name='releaseYear' input-type='text' input-class='form-control' model=album>{{album.releaseYear}}</in-place-edit>
                </div>

                <div class="mb-2">
                    <small class="text-muted">Genre:</small>
                    <in-place-edit field-name='genre' input-type='text' input-class='form-control' model=album>{{album.genre}}</in-place-edit>
                </div>

                <div class="mb-2">
                    <small class="text-muted">Review:</small>
                    <in-place-edit field-name='userReview' input-type='text' input-class='form-control' model=album>{{album.userReview}}</in-place-edit>
                </div>

                <div>
                    <small class="text-muted">Score:</small>
                    <in-place-edit field-name='userScore' input-type='text' input-class='form-control' model=album>{{album.userScore}}</in-place-edit>
                </div>
            </div>
        </div>
    </div>
</div>
