<div class="col-12">
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>Album Title</th>
                    <th>Artist</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th>Review</th>
                    <th>Score</th>
                    <th class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="album in albums | orderBy:sortField:sortDescending">
                    <td>
                        <in-place-edit field-name='title' input-type='text' input-class='form-control' model=album>{{album.title}}</in-place-edit>
                    </td>
                    <td>
                        <in-place-edit field-name='artist' input-type='text' input-class='form-control' model=album>{{album.artist}}</in-place-edit>
                    </td>
                    <td>
                        <in-place-edit field-name='releaseYear' input-type='text' input-class='form-control' model=album>{{album.releaseYear}}</in-place-edit>
                    </td>
                    <td>
                        <in-place-edit field-name='genre' input-type='text' input-class='form-control' model=album>{{album.genre}}</in-place-edit>
                    </td>
                    <td>
                        <in-place-edit field-name='userReview' input-type='text' input-class='form-control' model=album>{{album.userReview}}</in-place-edit>
                    </td>
                    <td>
                        <in-place-edit field-name='userScore' input-type='text' input-class='form-control' model=album>{{album.userScore}}</in-place-edit>
                    </td>
                    <td class="text-end">
                        <div class="dropdown">
                            <button class="btn btn-link text-muted p-0" type="button" data-bs-toggle="dropdown" aria-label="Album options">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#" ng-click="updateAlbum(album)"><i class="fas fa-edit me-2"></i>Edit</a></li>
                                <li><a class="dropdown-item text-danger" href="#" ng-click="deleteAlbum(album)"><i class="fas fa-trash me-2"></i>Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
